<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>개인정보 처리방침</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-3xl font-bold mb-6">개인정보 처리방침</h1>

    <section class="mb-6">
        <h2 class="text-xl font-semibold mb-2">1. 개인정보의 처리 목적</h2>
        <p class="text-gray-700 text-sm leading-6">
            본 서비스는 회원 가입 및 서비스 제공, 고객 문의 응대 등을 위하여 필요한 최소한의 개인정보를 수집·이용하고 있습니다.
        </p>
    </section>

    <section class="mb-6">
        <h2 class="text-xl font-semibold mb-2">2. 개인정보의 처리 및 보유기간</h2>
        <p class="text-gray-700 text-sm leading-6">
            회원가입 시 수집한 개인정보는 회원 탈퇴시까지 보유하며, 이용 목적 달성 후에는 관련 법령에 따라 일정 기간 보관 후 지체 없이 파기합니다.
        </p>
    </section>

    <section class="mb-6">
        <h2 class="text-xl font-semibold mb-2">3. 개인정보의 제3자 제공</h2>
        <p class="text-gray-700 text-sm leading-6">
            당사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않으며, 제공이 필요한 경우 사전에 이용자에게 알리고 동의를 받습니다.
        </p>
    </section>

    <section class="mb-6">
        <h2 class="text-xl font-semibold mb-2">4. 이용자의 권리와 행사 방법</h2>
        <p class="text-gray-700 text-sm leading-6">
            이용자는 언제든지 자신의 개인정보를 조회하거나 수정할 수 있으며, 회원 탈퇴 절차를 통해 개인정보 삭제를 요구할 수 있습니다.
            또한 개인정보 처리에 관한 불만이나 문의사항이 있으실 경우 zanygeek8371@naver.com으로 문의바랍니다.
        </p>
    </section>

    <section class="mb-6">
        <h2 class="text-xl font-semibold mb-2">5. 쿠키(Cookie)의 사용</h2>
        <p class="text-gray-700 text-sm leading-6">
            당사는 서비스 이용 편의 및 개선을 위하여 쿠키를 사용할 수 있으며, 이용자는 웹 브라우저 설정을 통해 쿠키 수집을 거부할 수 있습니다.
        </p>
    </section>

    <section class="mb-6">
        <h2 class="text-xl font-semibold mb-2">6. 개인정보 보호를 위한 기술적·관리적 대책</h2>
        <p class="text-gray-700 text-sm leading-6">
            당사는 개인정보를 안전하게 관리하기 위하여 암호화, 접근권한 관리, 보안 시스템 유지·점검 등 기술적·관리적 조치를 시행하고 있습니다.
        </p>
    </section>

    <section class="mb-6">
        <h2 class="text-xl font-semibold mb-2">7. 개인정보 보호책임자</h2>
        <p class="text-gray-700 text-sm leading-6">
            당사는 개인정보 처리에 대한 책임을 지고, 개인정보 처리와 관련한 이용자의 불만처리 및 피해구제 등을 위해 개인정보 보호책임자를 지정하고 있습니다.
            <br><br>
            개인정보 보호책임자: 서영준<br>
            이메일: zanygeek8371@naver.com<br>
        </p>
    </section>

    <p class="text-sm text-gray-600 mt-8">
        본 개인정보 처리방침은 2024sus 12월 21일부터 적용됩니다.
    </p>
</div>
</body>
</html>
