<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{tools/layout}">
<head>
    <title th:text="${title} ?: '도구상자'"></title>
</head>
<body>
<div layout:fragment="content">
    <!-- IP 주소 -->
    <p>접속 IP: <span th:text="${ip}">127.0.0.1</span></p>

    <!-- 위치 정보 출력 (location이 null이 아닐 때) -->
    <div th:if="${location != null}">
        <p>국가: <span th:text="${location.country}">N/A</span></p>
        <p>지역: <span th:text="${location.regionName}">N/A</span></p>
        <p>도시: <span th:text="${location.city}">N/A</span></p>
    </div>
</div>
</body>
</html>
